In [70]:
import pandas as pd
import numpy as np
import feather
import datetime

# Colonnes à renommer pour plus de facilités 
col_names = ['code_insee_region', 'region', 'nature', 'date', 'heure', 'date_heure', 'consommation', 'thermique', 'nucleaire', 'eolien', 'solaire', 'hydraulique', 'pompage', 'bioenergies', 'ech_physiques', 'flux_physiques_d_auvergne_rhone_alpes_vers_grand_est', 'flux_physiques_de_bourgogne_franche_comte_vers_grand_est', 'flux_physiques_de_bretagne_vers_grand_est', 'flux_physiques_de_centre_val_de_loire_vers_grand_est', 'flux_physiques_de_grand_est_vers_grand_est', 'flux_physiques_de_hauts_de_france_vers_grand_est', 'flux_physiques_d_ile_de_france_vers_grand_est', 'flux_physiques_de_normandie_vers_grand_est', 'flux_physiques_de_nouvelle_aquitaine_vers_grand_est', 'flux_physiques_d_occitanie_vers_grand_est', 'flux_physiques_de_pays_de_la_loire_vers_grand_est', 'flux_physiques_de_paca_vers_grand_est', 'flux_physiques_de_grand_est_vers_auvergne_rhone_alpes', 'flux_physiques_de_grand_est_vers_bourgogne_franche_comte', 'flux_physiques_de_grand_est_vers_bretagne', 'flux_physiques_de_grand_est_vers_centre_val_de_loire', 'flux_physiques_de_grand_est_vers_grand_est0', 'flux_physiques_de_grand_est_vers_hauts_de_france', 'flux_physiques_de_grand_est_vers_ile_de_france', 'flux_physiques_de_grand_est_vers_normandie', 'flux_physiques_de_grand_est_vers_nouvelle_aquitaine', 'flux_physiques_de_grand_est_vers_occitanie', 'flux_physiques_de_grand_est_vers_pays_de_la_loire', 'flux_physiques_de_grand_est_vers_paca', 'flux_physiques_allemagne_vers_grand_est', 'flux_physiques_belgique_vers_grand_est', 'flux_physiques_espagne_vers_grand_est', 'flux_physiques_italie_vers_grand_est', 'flux_physiques_luxembourg_vers_grand_est', 'flux_physiques_royaume_uni_vers_grand_est', 'flux_physiques_suisse_vers_grand_est', 'flux_physiques_de_grand_est_vers_allemagne', 'flux_physiques_de_grand_est_vers_belgique', 'flux_physiques_de_grand_est_vers_espagne' , 'flux_physiques_de_grand_est_vers_italie', 'flux_physiques_de_grand_est_vers_luxembourg', 'flux_physiques_de_grand_est_vers_royaume_uni', 'flux_physiques_de_grand_est_vers_suisse', 'tco_thermique', 'tch_thermique', 'tco_nucleaire', 'tch_nucleaire', 'tco_eolien', 'tch_eolien', 'tco_solaire', 'tch_solaire', 'tco_hydraulique', 'tch_hydraulique', 'tco_bioenergies', 'tch_bioenergies']
# na_values observées dans le jeu de données
df = pd.read_csv('data/energy.csv', sep=';', na_values=['-', 'ND'], header=0, names=col_names)
df.head()

,code_insee_region,region,nature,date,heure,date_heure,consommation,thermique,nucleaire,eolien,...,tco_nucleaire,tch_nucleaire,tco_eolien,tch_eolien,tco_solaire,tch_solaire,tco_hydraulique,tch_hydraulique,tco_bioenergies,tch_bioenergies
0,52,Pays de la Loire,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28,Normandie,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24,Centre-Val de Loire,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,44,Grand Est,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27,Bourgogne-Franche-Comté,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
# Empty columns
cols_na = df.columns[(df.isna().sum() == df.shape[0])]
# Drop them
df.drop(columns=cols_na, inplace=True)
# Drop also tco anc tco columns
df.drop(columns=['date', 'nature', 'heure', 'tco_thermique', 'tch_thermique', 'tco_nucleaire', 'tch_nucleaire', 'tco_eolien', 'tch_eolien', 'tco_solaire', 'tch_solaire', 'tco_hydraulique', 'tch_hydraulique', 'tco_bioenergies', 'tch_bioenergies'], inplace=True)
# Drop lines if all those columns are Na
df.dropna(subset=['consommation',
       'thermique', 'nucleaire', 'eolien', 'solaire', 'hydraulique', 'pompage',
       'bioenergies', 'ech_physiques'], inplace=True)

In [72]:
# No more Na in the dataset !
df.isna().sum()

code_insee_region    0
region               0
date_heure           0
consommation         0
thermique            0
nucleaire            0
eolien               0
solaire              0
hydraulique          0
pompage              0
bioenergies          0
ech_physiques        0
dtype: int64

In [73]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
code_insee_region,549020.0,60.723216,21.149699,32.0,44.0,76.0,84.0,84.0
consommation,549020.0,5706.602393,1733.235780,2031.0,4410.0,5474.0,6731.0,13177.0
thermique,549020.0,556.179933,704.805123,-18.0,41.0,228.0,846.0,4293.0
nucleaire,549020.0,6189.666214,3585.579893,-144.0,2583.0,5912.0,9445.0,13632.0
eolien,549020.0,470.157954,621.273701,-4.0,81.0,226.0,598.0,4554.0
solaire,549020.0,109.163606,218.162956,-23.0,0.0,1.0,111.0,1760.0
hydraulique,549020.0,1468.244250,1404.265510,0.0,482.0,1082.0,2098.0,8742.0
pompage,549020.0,-207.609490,400.949202,-2570.0,-263.0,-4.0,0.0,0.0
bioenergies,549020.0,96.392228,23.651424,24.0,79.0,97.0,116.0,318.0
ech_physiques,549020.0,-2975.930238,3466.302582,-12219.0,-6117.0,-2572.0,198.0,4206.0

In [74]:
df.dtypes

code_insee_region      int64
region                object
date_heure            object
consommation         float64
thermique            float64
nucleaire            float64
eolien               float64
solaire              float64
hydraulique          float64
pompage              float64
bioenergies          float64
ech_physiques        float64
dtype: object

In [75]:
cols_int = ['consommation',
       'thermique', 'nucleaire', 'eolien', 'solaire', 'hydraulique', 'pompage',
       'bioenergies', 'ech_physiques']

df[cols_int] = df[cols_int].astype(int)

In [76]:
df['date_heure'] = pd.to_datetime(df['date_heure'], utc=True)
df.dtypes

code_insee_region                  int64
region                            object
date_heure           datetime64[ns, UTC]
consommation                       int64
thermique                          int64
nucleaire                          int64
eolien                             int64
solaire                            int64
hydraulique                        int64
pompage                            int64
bioenergies                        int64
ech_physiques                      int64
dtype: object

In [77]:
df.reset_index(inplace=True)

In [78]:
df.to_feather('data/energy.ftr')

In [86]:
rs_cols_names = ['date', 'code_insee_region', 'region', 'vitesse_vent', 'rayonnement_solaire']

rs = pd.read_csv('data/rayonnement-solaire-vitesse-vent.csv', sep=';', names=rs_cols_names, parse_dates=['date'], header=0)

rs['date'] = pd.to_datetime(rs['date'], utc=True)
rs['vitesse_vent'] = rs['vitesse_vent'].astype(float)
rs['rayonnement_solaire'] = rs['rayonnement_solaire'].astype(float)

In [87]:
rs.dtypes

date                   datetime64[ns, UTC]
code_insee_region                    int64
region                              object
vitesse_vent                       float64
rayonnement_solaire                float64
dtype: object

In [88]:
rs.to_feather('data/rayonnement.ftr')

In [90]:
temp_cols_names = ['date', 'code_insee_region', 'region', 'tmin', 'tmax', 'tmoy']
temp = pd.read_csv('data/temperature.csv', sep=';', header=0, names=temp_cols_names)
temp.head()

         date  code_insee_region                   region  tmin   tmax   tmoy
0  2019-04-01                 32          Hauts-de-France  4.84  17.42  11.13
1  2019-04-02                 44                Grand Est  5.34  17.99  11.66
2  2019-04-02                 32          Hauts-de-France  7.14  14.48  10.81
3  2019-04-02                 52         Pays de la Loire  7.65  13.75  10.70
4  2019-04-02                 27  Bourgogne-Franche-Comté  6.18  18.60  12.39

In [91]:
temp.dtypes

date                  object
code_insee_region      int64
region                object
tmin                 float64
tmax                 float64
tmoy                 float64
dtype: object

In [92]:
temp['date'] = pd.to_datetime(temp['date'])
temp.dtypes

date                 datetime64[ns]
code_insee_region             int64
region                       object
tmin                        float64
tmax                        float64
tmoy                        float64
dtype: object

In [93]:
temp.to_feather('data/temperature.ftr')

In [94]:
rs.head()

,date,code_insee_region,region,vitesse_vent,rayonnement_solaire
0,2018-10-07 03:00:00+00:00,32,Hauts-de-France,6.53,0.0
1,2018-10-07 03:00:00+00:00,76,Occitanie,5.89,0.0
2,2018-10-07 03:00:00+00:00,27,Bourgogne-Franche-Comté,3.82,0.0
3,2018-10-07 06:00:00+00:00,24,Centre-Val de Loire,5.44,0.0
4,2018-10-07 06:00:00+00:00,32,Hauts-de-France,6.08,0.0

In [96]:
temp.head(50)

,date,code_insee_region,region,tmin,tmax,tmoy
0,2019-04-01,32,Hauts-de-France,4.84,17.42,11.13
1,2019-04-02,44,Grand Est,5.34,17.99,11.66
2,2019-04-02,32,Hauts-de-France,7.14,14.48,10.81
3,2019-04-02,52,Pays de la Loire,7.65,13.75,10.70
4,2019-04-02,27,Bourgogne-Franche-Comté,6.18,18.60,12.39
5,2019-04-03,53,Bretagne,1.38,9.00,5.19
6,2019-04-03,84,Auvergne-Rhône-Alpes,3.75,10.16,6.95
7,2019-04-04,53,Bretagne,0.95,10.45,5.70
8,2019-04-04,24,Centre-Val de Loire,0.73,12.07,6.40
9,2019-04-04,32,Hauts-de-France,-1.00,11.84,5.42
10,2019-04-05,52,Pays de la Loire,6.50,12.85,9.68
11,2019-04-05,94,Corse,3.60,16.70,10.15
12,2019-04-05,27,Bourgogne-Franche-Comté,-1.12,13.17,6.03
13,2019-04-06,11,Île-de-France,3.92,17.20,10.56
14,2019-04-06,76,Occitanie,6.76,11.50,9.13
15,2019-04-07,76,Occitanie,3.29,14.88,9.09
16,2019-04-07,28,Normandie,4.76,15.24,10.00
17,2019-04-07,44,Grand Est,4.02,14.76,9.39
18,2019-04-07,27,Bourgogne-Franche-Comté,6.45,10.82,8.63
19,2019-04-08,32,Hauts-de-France,7.42,14.06,10.74
20,2019-04-08,84,Auvergne-Rhône-Alpes,2.93,15.09,9.01
21,2019-04-09,28,Normandie,5.64,13.62,9.63
22,2019-04-09,44,Grand Est,6.94,13.98,10.46
23,2019-04-09,94,Corse,5.90,17.75,11.82
24,2019-04-09,11,Île-de-France,8.18,14.80,11.49
25,2019-04-09,53,Bretagne,2.98,15.45,9.21
26,2019-04-10,93,Provence-Alpes-Côte d'Azur,7.42,17.13,12.28
27,2019-04-10,32,Hauts-de-France,6.12,12.72,9.42
28,2019-04-10,52,Pays de la Loire,4.80,12.95,8.88
29,2019-04-11,28,Normandie,2.72,11.62,7.17
30,2019-04-11,52,Pays de la Loire,4.95,15.40,10.17
31,2019-04-12,28,Normandie,0.82,11.30,6.06
32,2019-04-12,93,Provence-Alpes-Côte d'Azur,7.82,17.02,12.42
33,2019-04-12,53,Bretagne,0.40,13.53,6.96
34,2019-04-12,75,Nouvelle-Aquitaine,4.16,16.20,10.18
35,2019-04-13,52,Pays de la Loire,2.70,12.10,7.40
36,2019-04-13,94,Corse,8.20,17.95,13.08
37,2019-04-13,27,Bourgogne-Franche-Comté,0.30,10.02,5.16
38,2019-04-13,44,Grand Est,0.18,8.05,4.11
39,2019-04-13,53,Bretagne,3.20,13.10,8.15
40,2019-04-14,24,Centre-Val de Loire,-2.47,11.50,4.52
41,2019-04-15,27,Bourgogne-Franche-Comté,-1.12,16.87,7.88
42,2019-04-17,53,Bretagne,6.85,20.45,13.65
43,2019-04-17,32,Hauts-de-France,7.46,16.50,11.98
44,2019-04-18,76,Occitanie,10.15,19.15,14.65
45,2019-04-18,52,Pays de la Loire,10.70,23.95,17.32
46,2019-04-18,93,Provence-Alpes-Côte d'Azur,7.57,20.98,14.28
47,2019-04-18,27,Bourgogne-Franche-Comté,7.38,23.17,15.27
48,2019-04-18,32,Hauts-de-France,8.50,22.28,15.39
49,2019-04-20,93,Provence-Alpes-Côte d'Azur,9.97,21.88,15.92